# Retro Setup Platform Catalog
# Clear, Human-Readable Configuration File for Platforms
# Colors can be specified by simple names (red, blue, green, yellow, purple, cyan, orange, etc.) or #RRGGBB hex.

[nes]
name = Nintendo - Nintendo Entertainment System
category = Nintendo
core_file = mesen_libretro.so
core_name = Nintendo - NES (Mesen)
extensions = nes
bios_files = disksys.rom
color = red

[snes]
name = Nintendo - Super Nintendo Entertainment System
category = Nintendo
core_file = snes9x_libretro.so
core_name = Snes9x
extensions = sfc, smc
bios_files = 
color = red

[n64]
name = Nintendo - Nintendo 64
category = Nintendo
core_file = mupen64plus_next_libretro.so
core_name = Nintendo 64 (Mupen64Plus-Next)
extensions = n64, z64, v64
bios_files = 
color = red

[gb]
name = Nintendo - Game Boy
category = Nintendo
core_file = gambatte_libretro.so
core_name = Game Boy (Gambatte)
extensions = gb
bios_files = 
color = red

[gbc]
name = Nintendo - Game Boy Color
category = Nintendo
core_file = gambatte_libretro.so
core_name = Game Boy Color (Gambatte)
extensions = gbc
bios_files = 
color = red

[gba]
name = Nintendo - Game Boy Advance
category = Nintendo
core_file = mgba_libretro.so
core_name = Game Boy Advance (mGBA)
extensions = gba
bios_files = 
color = red

[fds]
name = Nintendo - Famicom Disk System
category = Nintendo
core_file = fceumm_libretro.so
core_name = Famicom Disk System (FCEUmm)
extensions = fds
bios_files = disksys.rom
color = red

[satellaview]
name = Nintendo - Satellaview
category = Nintendo
core_file = snes9x_libretro.so
core_name = Satellaview (Snes9x)
extensions = bs
bios_files = 
color = red

[gamecube]
name = Nintendo - GameCube
category = Nintendo
core_file = dolphin_libretro.so
core_name = GameCube (Dolphin)
extensions = iso, gcm, rvz
bios_files = 
color = red

[ps1]
name = Sony - PlayStation
category = Sony
core_file = mednafen_psx_hw_libretro.so
core_name = Sony - PlayStation (Beetle PSX HW)
core_config_name = Beetle PSX HW
core_options = beetle_psx_hw_renderer = "vulkan"; beetle_psx_hw_renderer_software_fb = "disabled"; beetle_psx_hw_internal_resolution = "2x"; beetle_psx_hw_msaa = "1x"; beetle_psx_hw_fastboot = "enabled"; beetle_psx_hw_skip_bios = "enabled"; beetle_psx_hw_cpu_dynarec = "max performance"; beetle_psx_hw_dynarec_invalidate = "DMA Only"; beetle_psx_hw_depth = "32bpp"; beetle_psx_hw_dither_mode = "internal resolution"; beetle_psx_hw_filter = "bilinear"; beetle_psx_hw_pgxp_mode = "disabled"; beetle_psx_hw_cd_fastload = "4x"; beetle_psx_hw_crop_overscan = "disabled"; beetle_psx_hw_image_crop = "disabled"; beetle_psx_hw_image_offset = "disabled"; beetle_psx_hw_adaptive_smoothing = "disabled"
frontend_options = video_driver = "vulkan"; video_threaded = "true"; video_vsync = "true"; video_smooth = "true"; aspect_ratio_index = "1"; video_aspect_ratio_auto = "false"; video_scale_integer = "false"; audio_latency = "96"; audio_sync = "true"; audio_rate_control = "true"; audio_rate_control_delta = "0.005"; audio_max_timing_skew = "0.05"; run_ahead_enabled = "false"; rewind_enable = "false"
use_gamemode = true
extensions = chd, cue, iso, bin, pbp, m3u, toc, ccd
bios_files = scph5500.bin, scph5501.bin, scph5502.bin
obsolete_config_files = config/PCSX-ReARMed/PCSX-ReARMed.cfg; config/PCSX-ReARMed/PCSX-ReARMed.opt; config/SwanStation/SwanStation.cfg; config/SwanStation/SwanStation.opt; config/Sony - PlayStation/Sony - PlayStation.cfg; config/Sony - PlayStation/Sony - PlayStation.opt
color = blue

[ps2]
name = Sony - PlayStation 2
category = Sony
core_file = pcsx2_libretro.so
core_name = Sony - PlayStation 2 (LRPS2)
core_config_name = LRPS2
core_options = pcsx2_renderer = "Vulkan"; pcsx2_upscale_multiplier = "1x"; pcsx2_texture_filtering = "Bilinear (PS2)"; pcsx2_anisotropic_filtering = "Disabled"; pcsx2_blending_accuracy = "Basic"; pcsx2_fastboot = "enabled"; pcsx2_mtvu = "enabled"; pcsx2_instant_vu1 = "enabled"; pcsx2_ee_cycle_rate = "100% (Normal Speed)"; pcsx2_ee_cycle_skip = "Disabled"
frontend_options = video_driver = "vulkan"; video_threaded = "true"; video_vsync = "true"; audio_latency = "128"; audio_sync = "true"; run_ahead_enabled = "false"; rewind_enable = "false"
use_gamemode = true
extensions = elf, iso, ciso, chd, cso, bin, mdf, nrg, dump, gz, img, m3u
bios_files = pcsx2/bios
bios_extensions = bin, rom0
bios_copy_extensions = bin, rom0, rom1, rom2, erom, nvm, mec
bios_install_directory = pcsx2/bios
bios_min_size = 4194304
bios_missing_action = error
obsolete_config_files = config/PCSX2/PCSX2.cfg; config/PCSX2/PCSX2.opt; config/Sony - PlayStation 2/Sony - PlayStation 2.cfg; config/Sony - PlayStation 2/Sony - PlayStation 2.opt
color = blue

[mastersystem]
name = Sega - Master System
category = Sega
core_file = genesis_plus_gx_libretro.so
core_name = Master System (Genesis Plus GX)
extensions = sms
bios_files = 
color = cyan

[gamegear]
name = Sega - Game Gear
category = Sega
core_file = genesis_plus_gx_libretro.so
core_name = Game Gear (Genesis Plus GX)
extensions = gg
bios_files = 
color = cyan

[megadrive]
name = Sega - Mega Drive - Genesis
category = Sega
core_file = genesis_plus_gx_libretro.so
core_name = Mega Drive / Genesis (Genesis Plus GX)
extensions = md, gen, bin
bios_files = 
color = cyan

[sega32x]
name = Sega - 32X
category = Sega
core_file = picodrive_libretro.so
core_name = 32X (PicoDrive)
extensions = 32x
bios_files = 
color = cyan

[segacd]
name = Sega - Mega-CD - Sega CD
category = Sega
core_file = genesis_plus_gx_libretro.so
core_name = Sega CD (Genesis Plus GX)
extensions = chd, cue, iso
bios_files = bios_CD_U.bin, bios_CD_E.bin, bios_CD_J.bin
color = cyan

[sg1000]
name = Sega - SG-1000
category = Sega
core_file = genesis_plus_gx_libretro.so
core_name = SG-1000 (Genesis Plus GX)
extensions = sg
bios_files = 
color = cyan

[saturn]
name = Sega - Saturn
category = Sega
core_file = mednafen_saturn_libretro.so
core_name = Saturn (Beetle Saturn)
extensions = chd, cue, iso
bios_files = saturn_bios.bin, mpr-17933.bin, sega_101.bin
color = cyan

[neogeo]
name = SNK - Neo Geo
category = SNK
core_file = fbneo_libretro.so
core_name = Neo Geo (FinalBurn Neo)
extensions = zip
bios_files = neogeo.zip
color = yellow

[neogeocd]
name = SNK - Neo Geo CD
category = SNK
core_file = neocd_libretro.so
core_name = Neo Geo CD (NeoCD)
extensions = chd, cue, iso
bios_files = neocd/front-sp1.bin, neocd/top-sp1.bin, neocd/neocd.bin
color = yellow

[neogeopocket]
name = SNK - Neo Geo Pocket
category = SNK
core_file = mednafen_ngp_libretro.so
core_name = Neo Geo Pocket (Beetle NeoPop)
extensions = ngp
bios_files = 
color = yellow

[neogeopocketcolor]
name = SNK - Neo Geo Pocket Color
category = SNK
core_file = mednafen_ngp_libretro.so
core_name = Neo Geo Pocket Color (Beetle NeoPop)
extensions = ngc
bios_files = 
color = yellow

[atomiswave]
name = Arcade - Sammy Atomiswave
category = Arcade
core_file = flycast_libretro.so
core_name = Atomiswave (Flycast)
extensions = zip, chd
bios_files = dc/awbios.zip
color = green

[flycast]
name = Arcade - Sega NAOMI
category = Arcade
core_file = flycast_libretro.so
core_name = NAOMI (Flycast)
extensions = zip, chd
bios_files = dc/naomi.zip
color = green

[msx]
name = Microsoft - MSX
category = Computers
core_file = bluemsx_libretro.so
core_name = MSX (blueMSX)
extensions = rom, mx1, mx2, dsk
bios_files = Machines, Databases
color = purple

[msx2]
name = Microsoft - MSX2
category = Computers
core_file = bluemsx_libretro.so
core_name = MSX2 (blueMSX)
extensions = rom, mx1, mx2, dsk
bios_files = Machines, Databases
color = purple

[turbografx]
name = NEC - PC Engine - TurboGrafx 16
category = Classic
core_file = mednafen_pce_fast_libretro.so
core_name = TurboGrafx 16 (Beetle PCE FAST)
extensions = pce, chd, cue
bios_files = 
color = purple

[wonderswan]
name = Bandai - WonderSwan
category = Classic
core_file = mednafen_wswan_libretro.so
core_name = WonderSwan (Beetle Cygne)
extensions = ws, wsc
bios_files = 
color = purple

[colecovision]
name = Coleco - ColecoVision
category = Classic
core_file = bluemsx_libretro.so
core_name = ColecoVision (blueMSX)
extensions = col
bios_files = Machines, Databases
color = purple

[intellivision]
name = Mattel - Intellivision
category = Classic
core_file = freeintv_libretro.so
core_name = Intellivision (FreeIntv)
extensions = int, bin
bios_files = exec.bin, grom.bin
color = purple

[odyssey2]
name = Magnavox - Odyssey2
category = Classic
core_file = o2em_libretro.so
core_name = Odyssey2 (O2EM)
extensions = bin
bios_files = o2rom.bin
color = purple

[pcfx]
name = NEC - PC-FX
category = Classic
core_file = mednafen_pcfx_libretro.so
core_name = PC-FX (Beetle PC-FX)
extensions = chd, cue
bios_files = pcfx.rom
color = purple

[atari2600]
name = Atari - 2600
category = Atari
core_file = stella_libretro.so
core_name = Atari 2600 (Stella)
extensions = a26
bios_files = 
color = darkred

[atari5200]
name = Atari - 5200
category = Atari
core_file = a5200_libretro.so
core_name = Atari 5200 (a5200)
extensions = a52
bios_files = 5200.rom
color = darkred

[atari7800]
name = Atari - 7800
category = Atari
core_file = prosystem_libretro.so
core_name = Atari 7800 (ProSystem)
extensions = a78
bios_files = 
color = darkred

[atarilynx]
name = Atari - Lynx
category = Atari
core_file = handy_libretro.so
core_name = Atari Lynx (Handy)
extensions = lnx
bios_files = lynxboot.img
color = darkred

[atarijaguar]
name = Atari - Jaguar
category = Atari
core_file = virtualjaguar_libretro.so
core_name = Atari Jaguar (Virtual Jaguar)
extensions = j64
bios_files = 
color = darkred

[atarijaguarcd]
name = Atari - Jaguar CD
category = Atari
core_file = virtualjaguar_libretro.so
core_name = Atari Jaguar CD (Virtual Jaguar)
extensions = chd, cue, iso
bios_files = 
color = darkred
