# Retro Setup URL Catalog
# Human-readable sources shared by retro_setup_gui and both Shell installers.
# Repeat bios_url, rom_url, or rom_directory_url to configure multiple sources.
# URLs are used exactly as written; keep existing percent escapes such as %20.

[global]
core_info_url = https://buildbot.libretro.com/assets/frontend/info.zip
database_rdb_url = https://buildbot.libretro.com/assets/frontend/database-rdb.zip
database_cursors_url = https://buildbot.libretro.com/assets/frontend/database-cursors.zip
thumbnails_base_url = https://thumbnails.libretro.com

[fds]
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Nintendo%20-%20Famicom%20Disk%20System/disksys.rom
rom_url = https://archive.org/download/nintendo-famicom-disk-system-champion-collection/MetaFlesh%20Fannycom%20Dirk%20System%20Champion%20Collection.zip

[msx]
bios_url = https://buildbot.libretro.com/assets/system/blueMSX.zip
rom_url = https://archive.org/download/new-msx-champion-collection/MSX%20Champion%20Collection%20%28ROMs%20and%20Disks%29.zip

[msx2]
bios_url = https://buildbot.libretro.com/assets/system/blueMSX.zip
rom_url = https://archive.org/download/msx2-champion-collection/MSX2%20Champion%20Collection.zip

[msxturbor]
bios_url = https://buildbot.libretro.com/assets/system/blueMSX.zip
rom_url = https://archive.org/download/msx-turbo-r-champion-collection/MSX%20Turbo%20R%20Champion%20Collection.zip

[colecovision]
bios_url = https://buildbot.libretro.com/assets/system/blueMSX.zip
rom_url = https://archive.org/download/colecovision-champion-collection_202412/ColecoVision%20Champion%20Collection.zip

[odyssey2]
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Magnavox%20-%20Odyssey2/o2rom.bin
rom_url = https://archive.org/download/magnavox-odyssey2-champion-collection/Magnavox%20Odyssey2%20Champion%20Collection.zip
rom_url = https://archive.org/download/magnavox-odyssey2-champion-collection/Magnavox%20Odyssey2%20Extras.zip

[intellivision]
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Mattel%20-%20Intellivision/exec.bin
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Mattel%20-%20Intellivision/grom.bin
rom_url = https://archive.org/download/intellivision-champion-collection/Intellivision%20Champion%20Collection.zip

[pcfx]
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/NEC%20-%20PC-FX/pcfx.rom
rom_url = https://archive.org/download/nec-pc-fx-champion-collection/NEC%20PC-FX%20Champion%20Collection.zip

[ps1]
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Sony%20-%20PlayStation/scph5500.bin
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Sony%20-%20PlayStation/scph5501.bin
bios_url = https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Sony%20-%20PlayStation/scph5502.bin
rom_directory_url = https://archive.org/download/sony-playstation-champion-collection/
rom_directory_url = https://archive.org/download/sony-playstation-language-pack/

[atomiswave]
bios_url = https://archive.org/download/flycast-data/Flycast_data.zip
rom_url = https://archive.org/download/sammy-atomiswave-conversions-champion-collection/Sammy%20Atomiswave%20Conversions%20Champion%20Collection.zip

[flycast]
bios_url = https://archive.org/download/flycast-data/Flycast_data.zip
# Add rom_url only when a direct Flycast-compatible archive is available.

[neogeo]
bios_url = https://archive.org/download/retroarch_bios/neogeo.zip
rom_url = https://archive.org/download/snk-neo-geo-aes-champion-collection/SNK%20Neo%20Geo%20AES%20Champion%20Collection.zip

[neogeocd]
bios_url = https://archive.org/download/retroarch_bios/neocdz.zip
bios_url = https://archive.org/download/retroarch_bios/neocd.zip
rom_url = https://archive.org/download/snk-neo-geo-cd-champion-collection/SNK%20Neo%20Geo%20CD%20Champion%20Collection.zip

[nes]
rom_url = https://ia800909.us.archive.org/20/items/nintendo-entertainment-system-all-nes-roms-goodnes/All%20NES%20Roms%20%28GoodNES%29.zip

[snes]
rom_url = https://archive.org/download/super-nintendo-entertainment-system-champion-collection/Super%20MetaFlesh%20Edutainment%20System%20Champion%20Collection.zip

[n64]
rom_url = https://archive.org/download/nintendo-64-champion-collection/MetaFlesh%2069%20Champion%20Collection.zip

[gb]
rom_url = https://archive.org/download/nintendo-game-boy-20210605-081004/Nintendo%20-%20Game%20Boy%20%2820210605-081004%29.7z

[gbc]
rom_url = https://archive.org/download/nintendo-game-boy-color-20210528-203028/Nintendo%20-%20Game%20Boy%20Color%20%2820210528-203028%29%20%5BMissing%201%5D.7z

[gba]
rom_url = https://archive.org/download/nintendo-game-boy-advance-champion-collection_202603/Nintendo%20Game%20Boy%20Advance%20Champion%20Collection.zip

[satellaview]
rom_url = https://archive.org/download/nintendo-satellaview-champion-collection/MetaFlesh%20Sputnik%20Champion%20Collection.zip

[gamecube]
rom_directory_url = https://archive.org/download/nintendo-game-cube-champion-collection/

[mastersystem]
rom_url = https://archive.org/download/sega-master-system-champion-collection/Sega%20Master%20System%20Champion%20Collection.zip
rom_url = https://archive.org/download/sega-master-system-champion-collection/Sega%20Master%20System%20Extras.zip
rom_url = https://archive.org/download/sega-master-system-champion-collection/Sega%20Master%20System%20Language%20Pack.zip

[gamegear]
rom_url = https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Champion%20Collection.zip
rom_url = https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Extras.zip
rom_url = https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Language%20Pack.zip
rom_url = https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Recommended%20Patches.zip

[megadrive]
rom_url = https://archive.org/download/sega-mega-drive-genesis-20210106-213105/Sega%20-%20Mega%20Drive%20-%20Genesis%20%2820210106-213105%29.rar

[sega32x]
rom_url = https://archive.org/download/sega-32x-champion-collection/Sega%2032X%20Champion%20Collection.zip

[segacd]
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Multi%20Discs.zip
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Single%20Discs%203-M.zip
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Single%20Discs%20N-W.zip
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Extras.zip
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Language%20Pack.zip
rom_url = https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Recommended%20Patches.zip

[sg1000]
rom_url = https://archive.org/download/sega-sg-1000-champion-collection/Sega%20SG-1000%20Champion%20Collection.zip
rom_url = https://archive.org/download/sega-sg-1000-champion-collection/Sega%20SG-1000%20Extras.zip
rom_url = https://archive.org/download/sega-sg-1000-champion-collection/Sega%20SG-1000%20Language%20Pack.zip
rom_url = https://archive.org/download/sega-sg-1000-champion-collection/Sega%20SG-1000%20Language%20Pack.zip

[saturn]
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Required%20Files.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Recommended%20Variants.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Extras.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%203-B.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20C.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20D.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20E-H.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20I-L.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20M-O.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20P-R.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20S1.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20S2.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20T-V.zip
rom_url = https://archive.org/download/sega-saturn-champion-collection_202606/Sega%20Saturn%20Champion%20Collection%20-%20W-Z.zip

[neogeopocket]
rom_url = https://archive.org/download/neo-geo-pocket-champion-collection/Neo%20Geo%20Pocket%20Champion%20Collection.zip

[neogeopocketcolor]
rom_url = https://archive.org/download/neo-geo-pocket-color-champion-collection/Neo%20Geo%20Pocket%20Color%20Champion%20Collection.zip

[turbografx]
rom_url = https://archive.org/download/turbo-grafx-16-and-pc-engine-champion-collection/Champion%20Collection%20-%20TurboGrafx-16%20and%20PC%20Engine.7z

[wonderswan]
rom_url = https://archive.org/download/bandai-wonderswan-champion-collection/Bandai%20WonderSwan%20Champion%20Collection.zip

[atari2600]
rom_url = https://archive.org/download/atari-2600-champion-collection/Atari%202600%20Champion%20Collection.zip

[atari5200]
rom_url = https://archive.org/download/atari-5200-champion-collection/Atari%205200%20Champion%20Collection.zip

[atari7800]
rom_url = https://archive.org/download/atari-7800-champion-collection/Atari%207800%20Champion%20Collection.zip

[atarilynx]
rom_url = https://archive.org/download/atari-lynx-champion-collection/Atari%20Lynx%20Champion%20Collection.zip

[atarijaguar]
rom_url = https://archive.org/download/atari-jaguar-champion-collection/Atari%20Jaguar%20Champion%20Collection.zip

[atarijaguarcd]
rom_url = https://archive.org/download/atari-jaguar-cd-champion-collection/Atari%20Jaguar%20CD%20Champion%20Collection.zip
