# Central retro_setup URLs.
# The installer reads this file automatically.

CORE_INFO_URL="https://buildbot.libretro.com/assets/frontend/bundle/retroarch-core-info.zip"
# By default the script builds the core URL by architecture:
# https://buildbot.libretro.com/nightly/linux/<arch>/latest/<core>.so.zip
# To force another base URL, uncomment and adjust:
# LIBRETRO_CORE_BASE_URL="https://buildbot.libretro.com/nightly/linux/x86_64/latest"
DATABASE_RDB_URL="https://buildbot.libretro.com/assets/frontend/database-rdb.zip"
DATABASE_CURSORS_URL="https://buildbot.libretro.com/assets/frontend/database-cursors.zip"
THUMBNAILS_BASE_URL="https://thumbnails.libretro.com"

# BIOS by platform. Adjust here when another source is needed.
BIOS_URLS_msx=("https://buildbot.libretro.com/assets/system/blueMSX.zip")
BIOS_URLS_msx2=("https://buildbot.libretro.com/assets/system/blueMSX.zip")
BIOS_URLS_msxturbor=("https://buildbot.libretro.com/assets/system/blueMSX.zip")
BIOS_URLS_colecovision=("https://buildbot.libretro.com/assets/system/blueMSX.zip")
BIOS_URLS_odyssey2=("https://raw.githubusercontent.com/groenator/retroarch_system/libretro/Magnavox%20-%20Odyssey2/o2rom.bin")

# ROMs by platform. Adjust here if any source changes.
ROM_URLS_nes=("https://archive.org/download/nintendo-entertainment-system-all-nes-roms-goodnes/All%20NES%20Roms%20%28GoodNES%29.zip")
ROM_URLS_snes=("https://archive.org/download/super-nintendo-entertainment-system-champion-collection/Super%20MetaFlesh%20Edutainment%20System%20Champion%20Collection.zip")
ROM_URLS_n64=("https://archive.org/download/nintendo-64-champion-collection/MetaFlesh%2069%20Champion%20Collection.zip")
ROM_URLS_gb=("https://archive.org/download/champion-collection-gb-gbc-usa/Champion%20Collection%20-%20Game%20Boy%20%26%20Game%20Boy%20Color%20%28USA%29.zip")
ROM_URLS_gbc=("https://archive.org/download/champion-collection-gb-gbc-usa/Champion%20Collection%20-%20Game%20Boy%20%26%20Game%20Boy%20Color%20%28USA%29.zip")
ROM_URLS_gba=("https://archive.org/download/nintendo-game-boy-advance-champion-collection_202603/Nintendo%20Game%20Boy%20Advance%20Champion%20Collection.zip")
ROM_URLS_fds=("https://archive.org/download/nintendo-famicom-disk-system-champion-collection/MetaFlesh%20Fannycom%20Dirk%20System%20Champion%20Collection.zip")
ROM_URLS_satellaview=("https://archive.org/download/nintendo-satellaview-champion-collection/MetaFlesh%20Sputnik%20Champion%20Collection.zip")
ROM_DIR_URLS_gamecube=("https://archive.org/download/nintendo-game-cube-champion-collection/")

ROM_URLS_mastersystem=("https://archive.org/download/sega-master-system-champion-collection/Sega%20Master%20System%20Champion%20Collection.zip")
ROM_URLS_gamegear=(
    "https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Champion%20Collection.zip"
    "https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Extras.zip"
    "https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Language%20Pack.zip"
    "https://archive.org/download/sega-game-gear-champion-collection/Sega%20Game%20Gear%20Recommended%20Patches.zip"
)
ROM_DIR_URLS_megadrive=("https://archive.org/download/sega-genesis-champion-collection-updated-v2/")
ROM_URLS_sega32x=("https://archive.org/download/sega-32x-champion-collection/Sega%2032X%20Champion%20Collection.zip")
ROM_URLS_segacd=(
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Multi%20Discs.zip"
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Single%20Discs%203-M.zip"
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Champion%20Collection%20-%20Single%20Discs%20N-W.zip"
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Extras.zip"
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Language%20Pack.zip"
    "https://archive.org/download/sega-cd-champion-collection/Sega%20CD%20Recommended%20Patches.zip"
)
ROM_URLS_sg1000=("https://archive.org/download/sega-sg-1000-champion-collection/Sega%20SG-1000%20Champion%20Collection.zip")
ROM_DIR_URLS_saturn=("https://archive.org/download/sega-saturn-champion-collection-updated/")

ROM_URLS_neogeo=("https://archive.org/download/snk-neo-geo-aes-champion-collection/SNK%20Neo%20Geo%20AES%20Champion%20Collection.zip")
ROM_URLS_neogeocd=("https://archive.org/download/snk-neo-geo-cd-champion-collection/SNK%20Neo%20Geo%20CD%20Champion%20Collection.zip")
ROM_URLS_neogeopocket=("https://archive.org/download/neo-geo-pocket-champion-collection/Neo%20Geo%20Pocket%20Champion%20Collection.zip")
ROM_URLS_neogeopocketcolor=("https://archive.org/download/neo-geo-pocket-color-champion-collection/Neo%20Geo%20Pocket%20Color%20Champion%20Collection.zip")

ROM_URLS_msx=("https://archive.org/download/new-msx-champion-collection/MSX%20Champion%20Collection%20%28ROMs%20and%20Disks%29.zip")
ROM_URLS_msx2=("https://archive.org/download/msx2-champion-collection/MSX2%20Champion%20Collection.zip")
ROM_URLS_msxturbor=("https://archive.org/download/msx-turbo-r-champion-collection/MSX%20Turbo%20R%20Champion%20Collection.zip")

ROM_URLS_atomiswave=("https://archive.org/download/sammy-atomiswave-conversions-champion-collection/Sammy%20Atomiswave%20Conversions%20Champion%20Collection.zip")
ROM_DIR_URLS_flycast=("https://archive.org/download/arcade-flycast-champion-collection/")
ROM_URLS_model2=("https://archive.org/download/arcade-model-2-emulator-champion-collection/Arcade%20%28Model%202%20Emulator%29%20Champion%20Collection.zip")
ROM_URLS_supermodel=("https://archive.org/download/arcade-supermodel-champion-collection/Arcade%20%28Supermodel%29%20Champion%20Collection.zip")

ROM_URLS_turbografx=("https://archive.org/download/turbo-grafx-16-and-pc-engine-champion-collection/Champion%20Collection%20-%20TurboGrafx-16%20and%20PC%20Engine.7z")
ROM_URLS_wonderswan=("https://archive.org/download/bandai-wonderswan-champion-collection/Bandai%20WonderSwan%20Champion%20Collection.zip")
ROM_URLS_colecovision=("https://archive.org/download/colecovision-champion-collection_202412/ColecoVision%20Champion%20Collection.zip")
ROM_URLS_intellivision=("https://archive.org/download/intellivision-champion-collection/Intellivision%20Champion%20Collection.zip")
ROM_URLS_odyssey2=(
    "https://archive.org/download/magnavox-odyssey2-champion-collection/Magnavox%20Odyssey2%20Champion%20Collection.zip"
    "https://archive.org/download/magnavox-odyssey2-champion-collection/Magnavox%20Odyssey2%20Extras.zip"
)
ROM_URLS_pcfx=("https://archive.org/download/nec-pc-fx-champion-collection/NEC%20PC-FX%20Champion%20Collection.zip")

ROM_URLS_atari2600=("https://archive.org/download/atari-2600-champion-collection/Atari%202600%20Champion%20Collection.zip")
ROM_URLS_atari5200=("https://archive.org/download/atari-5200-champion-collection/Atari%205200%20Champion%20Collection.zip")
ROM_URLS_atari7800=("https://archive.org/download/atari-7800-champion-collection/Atari%207800%20Champion%20Collection.zip")
ROM_URLS_atarilynx=("https://archive.org/download/atari-lynx-champion-collection/Atari%20Lynx%20Champion%20Collection.zip")
ROM_URLS_atarijaguar=("https://archive.org/download/atari-jaguar-champion-collection/Atari%20Jaguar%20Champion%20Collection.zip")
ROM_URLS_atarijaguarcd=("https://archive.org/download/atari-jaguar-cd-champion-collection/Atari%20Jaguar%20CD%20Champion%20Collection.zip")
